Repository gsong/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

.lintstagedrc.yaml:

"*.js": eslint --cache --fix
"*.{css,js}": stylelint --fix
"*.{md,mdx}": remark -f
"*": prettier --check

build: add more commit types
  .commitlintrc.yaml
Due: prettier --check

publish: finalize article about object destructure/rest
  content/articles/2020-07-07-remove-unwanted-properties/index.mdx
  src/styles.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

build: tweak remark-lint settings
  .remarkrc.yaml
Due: prettier --check

fix: adjust date and some styling tweaks
  content/articles/2020-07-09-remove-unwanted-properties/index.mdx
  src/components/Layout.js
  src/pages/index.mdx
  src/styles.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

feat: allow articles to pass in description
  content/articles/2020-07-09-remove-unwanted-properties/index.mdx
  src/components/Layout.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

feat: detect locale while formatting date string
  src/components/Article.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: update article about object rest
  content/articles/2020-07-09-remove-unwanted-properties/index.mdx
Due: remark -f, prettier --check

ci: make sure `develop` branch always builds
  .github/workflows/test.yaml
Due: prettier --check

style: add code block line highlighting styles
  src/styles.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

refactor: don't have dates in slugs
  content/articles/remove-unwanted-properties/index.mdx
  src/pages/index.mdx
Due: remark -f, prettier --check

refactor: abstract out date formatting utilities
  src/components/Article.js
  src/styles.js
  src/utils.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

edit: add line highlight to article
  content/articles/remove-unwanted-properties/index.mdx
Due: remark -f, prettier --check

publish: article about formatting dates
  content/articles/to-locale-date-string/components.js
  content/articles/to-locale-date-string/index.mdx
  src/pages/index.mdx
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

edit: change title for homepage
  src/pages/index.mdx
Due: remark -f, prettier --check

deploy: 83cfac8c10ef38ec6c8112573921e914ed6a0535
  articles/to-locale-date-string/index.html
Due: prettier --check

deploy: 12b182ae4a25e6826ba4934aa7d927bad387ee67
  1270d66b70ec4ada82123c595cf96948d89f0728-d0f0616d4c09d6d005b3.js
  1270d66b70ec4ada82123c595cf96948d89f0728-d0f0616d4c09d6d005b3.js.map
  1270d66b70ec4ada82123c595cf96948d89f0728-e43c50357ad1ac3da628.js
  1270d66b70ec4ada82123c595cf96948d89f0728-e43c50357ad1ac3da628.js.map
  404.html
  404/index.html
  app-0188fe5dab45ce7221e1.js
  app-0188fe5dab45ce7221e1.js.map
  app-e523167549ad95a34dcd.js
  app-e523167549ad95a34dcd.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-596f57fd0492e26f78c1.js
  component---content-articles-remove-unwanted-properties-index-mdx-596f57fd0492e26f78c1.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-c1ebc775bbbdfe45ecaa.js
  component---content-articles-remove-unwanted-properties-index-mdx-c1ebc775bbbdfe45ecaa.js.map
  component---content-articles-to-locale-date-string-index-mdx-0cb8c273d51414ce6021.js
  component---content-articles-to-locale-date-string-index-mdx-0cb8c273d51414ce6021.js.map
  component---content-articles-to-locale-date-string-index-mdx-df817974d93e6997f383.js
  component---content-articles-to-locale-date-string-index-mdx-df817974d93e6997f383.js.map
  index.html
  page-data/app-data.json
  webpack-runtime-14726099b5343886e746.js
  webpack-runtime-14726099b5343886e746.js.map
  webpack-runtime-7fe1a3acb20461147529.js
  webpack-runtime-7fe1a3acb20461147529.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 1e4b68701984623ddbf6c1287b13e49142474eb5
  1270d66b70ec4ada82123c595cf96948d89f0728-e43c50357ad1ac3da628.js
  1270d66b70ec4ada82123c595cf96948d89f0728-e43c50357ad1ac3da628.js.map
  404.html
  404/index.html
  9ea9b7377735a02c492730240cc1527e55683237-2a7f27d15e6df4dda08b.js
  9ea9b7377735a02c492730240cc1527e55683237-2a7f27d15e6df4dda08b.js.map
  app-9f0348df662b8fb6534d.js
  app-9f0348df662b8fb6534d.js.map
  app-e523167549ad95a34dcd.js
  app-e523167549ad95a34dcd.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---src-pages-drafts-colophon-mdx-9f9de6d42dfee95a8032.js
  component---src-pages-drafts-colophon-mdx-9f9de6d42dfee95a8032.js.map
  component---src-pages-index-mdx-4b92db047785586a4e1a.js
  component---src-pages-index-mdx-4b92db047785586a4e1a.js.map
  component---src-pages-index-mdx-d516a2db8101e121cf71.js
  component---src-pages-index-mdx-d516a2db8101e121cf71.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  page-data/drafts/colophon/page-data.json
  polyfill-1aa999a2489e7fd72699.js
  polyfill-1aa999a2489e7fd72699.js.map
  polyfill-f59e12247e25d508b237.js
  polyfill-f59e12247e25d508b237.js.map
  webpack-runtime-14726099b5343886e746.js
  webpack-runtime-14726099b5343886e746.js.map
  webpack-runtime-cfe1744328f9ef85fc72.js
  webpack-runtime-cfe1744328f9ef85fc72.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

style: add typography.js for some vertical rhythm 💃
  content/articles/remove-unwanted-properties/index.mdx
  content/articles/to-locale-date-string/components.js
  gatsby-config.js
  package.json
  pnpm-lock.yaml
  src/components/Article.js
  src/components/Layout.js
  src/styles/index.js
  src/styles/typography.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

draft: colophon
  src/pages/drafts/colophon.mdx
Due: remark -f, prettier --check

deploy: 8f48b0de4e4e743e38e7133807f3d928e7326306
  404.html
  404/index.html
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-c1ebc775bbbdfe45ecaa.js
  component---content-articles-remove-unwanted-properties-index-mdx-c1ebc775bbbdfe45ecaa.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js.map
  component---content-articles-to-locale-date-string-index-mdx-0cb8c273d51414ce6021.js
  component---content-articles-to-locale-date-string-index-mdx-0cb8c273d51414ce6021.js.map
  component---content-articles-to-locale-date-string-index-mdx-d1ffc8e0663865aa56e0.js
  component---content-articles-to-locale-date-string-index-mdx-d1ffc8e0663865aa56e0.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-054b3e89ec58b163496e.js
  webpack-runtime-054b3e89ec58b163496e.js.map
  webpack-runtime-cfe1744328f9ef85fc72.js
  webpack-runtime-cfe1744328f9ef85fc72.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: homepage
  src/pages/index.mdx
Due: remark -f, prettier --check

style: clean up tokens
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: f08676221373d9b7817fa7056d31c0379b8ff4c6
  404.html
  404/index.html
  app-8d467a62440ab9bfee44.js
  app-8d467a62440ab9bfee44.js.map
  app-9f0348df662b8fb6534d.js
  app-9f0348df662b8fb6534d.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---src-pages-index-mdx-bf830dfdca23fe588b44.js
  component---src-pages-index-mdx-bf830dfdca23fe588b44.js.map
  component---src-pages-index-mdx-d516a2db8101e121cf71.js
  component---src-pages-index-mdx-d516a2db8101e121cf71.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-054b3e89ec58b163496e.js
  webpack-runtime-054b3e89ec58b163496e.js.map
  webpack-runtime-4fa0c72c3b8f3a8ce96c.js
  webpack-runtime-4fa0c72c3b8f3a8ce96c.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: add CodeSandbox example
  content/articles/to-locale-date-string/index.mdx
  src/components/CodeSandbox.js
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 32666874bb2f5ea35594b5c587b8888352b961c8
  404.html
  404/index.html
  9ea9b7377735a02c492730240cc1527e55683237-2a7f27d15e6df4dda08b.js
  9ea9b7377735a02c492730240cc1527e55683237-2a7f27d15e6df4dda08b.js.map
  9ea9b7377735a02c492730240cc1527e55683237-9d4a864fda25e86e4300.js
  9ea9b7377735a02c492730240cc1527e55683237-9d4a864fda25e86e4300.js.map
  app-7fee38406629e0a26d19.js
  app-7fee38406629e0a26d19.js.map
  app-8d467a62440ab9bfee44.js
  app-8d467a62440ab9bfee44.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-1455c342dffe44320e62.js
  component---content-articles-remove-unwanted-properties-index-mdx-1455c342dffe44320e62.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js.map
  component---content-articles-to-locale-date-string-index-mdx-15ac3159b3419ae7fff2.js
  component---content-articles-to-locale-date-string-index-mdx-15ac3159b3419ae7fff2.js.map
  component---content-articles-to-locale-date-string-index-mdx-d1ffc8e0663865aa56e0.js
  component---content-articles-to-locale-date-string-index-mdx-d1ffc8e0663865aa56e0.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-4fa0c72c3b8f3a8ce96c.js
  webpack-runtime-4fa0c72c3b8f3a8ce96c.js.map
  webpack-runtime-507beb897caf00540a3f.js
  webpack-runtime-507beb897caf00540a3f.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 7bb9a74451109dedf1f307004f8bb8a9aebbfe17
  404.html
  404/index.html
  9ea9b7377735a02c492730240cc1527e55683237-4d49f28d6a5bb9f248dc.js
  9ea9b7377735a02c492730240cc1527e55683237-4d49f28d6a5bb9f248dc.js.map
  9ea9b7377735a02c492730240cc1527e55683237-9d4a864fda25e86e4300.js
  9ea9b7377735a02c492730240cc1527e55683237-9d4a864fda25e86e4300.js.map
  app-7fee38406629e0a26d19.js
  app-7fee38406629e0a26d19.js.map
  app-99375b0c3b0c9921ec82.js
  app-99375b0c3b0c9921ec82.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-1455c342dffe44320e62.js
  component---content-articles-remove-unwanted-properties-index-mdx-1455c342dffe44320e62.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js.map
  component---content-articles-to-locale-date-string-index-mdx-15ac3159b3419ae7fff2.js
  component---content-articles-to-locale-date-string-index-mdx-15ac3159b3419ae7fff2.js.map
  component---content-articles-to-locale-date-string-index-mdx-9b58745cdbdc4f77447c.js
  component---content-articles-to-locale-date-string-index-mdx-9b58745cdbdc4f77447c.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-507beb897caf00540a3f.js
  webpack-runtime-507beb897caf00540a3f.js.map
  webpack-runtime-f7d37046b5ebbe3c9c79.js
  webpack-runtime-f7d37046b5ebbe3c9c79.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: b74df69338c5f6d31da33bac722e1661c3fa44da
  404.html
  404/index.html
  app-45c873f42ecfcdc24191.js
  app-45c873f42ecfcdc24191.js.map
  app-99375b0c3b0c9921ec82.js
  app-99375b0c3b0c9921ec82.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-6c63ddc2c5d1e1341e3a.js
  component---content-articles-remove-unwanted-properties-index-mdx-6c63ddc2c5d1e1341e3a.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js
  component---content-articles-remove-unwanted-properties-index-mdx-ea59a944a625f5fbdb05.js.map
  component---content-articles-to-locale-date-string-index-mdx-4218b03151a4d73caee7.js
  component---content-articles-to-locale-date-string-index-mdx-4218b03151a4d73caee7.js.map
  component---content-articles-to-locale-date-string-index-mdx-9b58745cdbdc4f77447c.js
  component---content-articles-to-locale-date-string-index-mdx-9b58745cdbdc4f77447c.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-9513857ca227da7fbc31.js
  webpack-runtime-9513857ca227da7fbc31.js.map
  webpack-runtime-f7d37046b5ebbe3c9c79.js
  webpack-runtime-f7d37046b5ebbe3c9c79.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 1b1fbf8883677321ca605baa473eba0bbd971206
  404.html
  404/index.html
  app-45c873f42ecfcdc24191.js
  app-45c873f42ecfcdc24191.js.map
  app-e787184d133a47e122e2.js
  app-e787184d133a47e122e2.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

style: tweak CodeSandbox styling
  content/articles/to-locale-date-string/index.mdx
  src/components/CodeSandbox.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 9595086e11ab7633417f9a82a86f10840140fa4d
  404.html
  404/index.html
  app-23896c6df1236ca5ffec.js
  app-23896c6df1236ca5ffec.js.map
  app-e787184d133a47e122e2.js
  app-e787184d133a47e122e2.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/components/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: a2960e7a803e641e55e904877009c74d227a5fbb
  articles/to-locale-date-string/index.html
Due: prettier --check

deploy: 4c940ddcd44eaa4cd910103fb655cf7e759a8c52
  404.html
  404/index.html
  app-2e28b9c2d927cf57ba2a.js
  app-2e28b9c2d927cf57ba2a.js.map
  app-3e611a788738a5ebe44f.js
  app-3e611a788738a5ebe44f.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: better header (now with headshot)
  .stylelintignore
  content/articles/to-locale-date-string/helpers/components.js
  content/articles/to-locale-date-string/index.mdx
  gatsby-config.js
  package.json
  pnpm-lock.yaml
  src/components/HeadShot.js
  src/components/Layout.js
  src/components/SEO.js
  src/images/gs-headshot.jpg
  src/pages/helpers/Home.js
  src/pages/index.mdx
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

build: upgrade dependencies
  pnpm-lock.yaml
  src/pages/helpers/Home.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

refactor: move title and link to CodeSandbox component
  content/articles/to-locale-date-string/index.mdx
  package.json
  src/components/CodeSandbox.js
  src/utils.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 875ca92a5176886a1115d358c4bb5b40586a1b8b
  404.html
  404/index.html
  app-2cd755ba7ae66b9ae487.js
  app-2cd755ba7ae66b9ae487.js.map
  app-2e28b9c2d927cf57ba2a.js
  app-2e28b9c2d927cf57ba2a.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

style: tweak normal layout header styling
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 6ac7a0d56d4f2f351b163a7b21ca27d011e2dc9a
  404.html
  404/index.html
  app-2cd755ba7ae66b9ae487.js
  app-2cd755ba7ae66b9ae487.js.map
  app-cae3d95b6dee5eed4df8.js
  app-cae3d95b6dee5eed4df8.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check
