Repository gsong/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

.lintstagedrc.yaml:

"*.js": eslint --cache --fix
"*.{css,js}": stylelint --fix
"*.{md,mdx}": remark -f
"*": prettier --check

deploy: 4415199aff12e21e8b02a0b5fec24a9b264fe08f
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-b845dee21485ca80ed56.js
  component---content-drafts-workplace-ally-index-mdx-b845dee21485ca80ed56.js.map
  component---content-drafts-workplace-ally-index-mdx-e35ff382162b59704993.js
  component---content-drafts-workplace-ally-index-mdx-e35ff382162b59704993.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-12faca5fbd5680aae13e.js
  webpack-runtime-12faca5fbd5680aae13e.js.map
  webpack-runtime-8788109bb5547591b98e.js
  webpack-runtime-8788109bb5547591b98e.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 5563f73f2b44f84d73fb4ea795aa1bd96582542d
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-e35ff382162b59704993.js
  component---content-drafts-workplace-ally-index-mdx-e35ff382162b59704993.js.map
  component---content-drafts-workplace-ally-index-mdx-fa3c247d361b64da31fd.js
  component---content-drafts-workplace-ally-index-mdx-fa3c247d361b64da31fd.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  page-data/drafts/workplace-ally/page-data.json
  webpack-runtime-12faca5fbd5680aae13e.js
  webpack-runtime-12faca5fbd5680aae13e.js.map
  webpack-runtime-a1f44867cccc002b2086.js
  webpack-runtime-a1f44867cccc002b2086.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 1bef243b724ca8698b25e7aef7011e497eef4b04
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-592498f0243605fb5f7b.js
  component---content-drafts-workplace-ally-index-mdx-592498f0243605fb5f7b.js.map
  component---content-drafts-workplace-ally-index-mdx-fa3c247d361b64da31fd.js
  component---content-drafts-workplace-ally-index-mdx-fa3c247d361b64da31fd.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-008e20e63e5de8156700.js
  webpack-runtime-008e20e63e5de8156700.js.map
  webpack-runtime-a1f44867cccc002b2086.js
  webpack-runtime-a1f44867cccc002b2086.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 84099fac7e015ead4edfedd9e99f176f6077f3d3
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-53fe819bcd7019b174ca.js
  component---content-drafts-workplace-ally-index-mdx-53fe819bcd7019b174ca.js.map
  component---content-drafts-workplace-ally-index-mdx-592498f0243605fb5f7b.js
  component---content-drafts-workplace-ally-index-mdx-592498f0243605fb5f7b.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-008e20e63e5de8156700.js
  webpack-runtime-008e20e63e5de8156700.js.map
  webpack-runtime-78bfd41c9b4050d70aa0.js
  webpack-runtime-78bfd41c9b4050d70aa0.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 372f599aa477b624677d9583e65476d8a33694b0
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-53fe819bcd7019b174ca.js
  component---content-drafts-workplace-ally-index-mdx-53fe819bcd7019b174ca.js.map
  component---content-drafts-workplace-ally-index-mdx-7ef63099837ab33df178.js
  component---content-drafts-workplace-ally-index-mdx-7ef63099837ab33df178.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  page-data/drafts/workplace-ally/page-data.json
  webpack-runtime-78bfd41c9b4050d70aa0.js
  webpack-runtime-78bfd41c9b4050d70aa0.js.map
  webpack-runtime-f923d393a105639415d6.js
  webpack-runtime-f923d393a105639415d6.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 53b789a50c6bf5ce3ee1021d7292339fadffe351
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-7ef63099837ab33df178.js
  component---content-drafts-workplace-ally-index-mdx-7ef63099837ab33df178.js.map
  component---content-drafts-workplace-ally-index-mdx-b2ade64fbc5350a9bd02.js
  component---content-drafts-workplace-ally-index-mdx-b2ade64fbc5350a9bd02.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-ecfb3b7878c7ad2c922b.js
  webpack-runtime-ecfb3b7878c7ad2c922b.js.map
  webpack-runtime-f923d393a105639415d6.js
  webpack-runtime-f923d393a105639415d6.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: c0c1cd09b5203f7dff655b88bfb10f00a4a1bdfc
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-b2ade64fbc5350a9bd02.js
  component---content-drafts-workplace-ally-index-mdx-b2ade64fbc5350a9bd02.js.map
  component---content-drafts-workplace-ally-index-mdx-e8eda415146dc2f5cabf.js
  component---content-drafts-workplace-ally-index-mdx-e8eda415146dc2f5cabf.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  page-data/drafts/workplace-ally/page-data.json
  webpack-runtime-3710462142730455b6da.js
  webpack-runtime-3710462142730455b6da.js.map
  webpack-runtime-ecfb3b7878c7ad2c922b.js
  webpack-runtime-ecfb3b7878c7ad2c922b.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: d45e9d47a32cad3e97fc6996bc7e38fa612de24d
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-4d798f71607ccefe2906.js
  component---content-drafts-workplace-ally-index-mdx-4d798f71607ccefe2906.js.map
  component---content-drafts-workplace-ally-index-mdx-e8eda415146dc2f5cabf.js
  component---content-drafts-workplace-ally-index-mdx-e8eda415146dc2f5cabf.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-3710462142730455b6da.js
  webpack-runtime-3710462142730455b6da.js.map
  webpack-runtime-79e001d9355eabff40d1.js
  webpack-runtime-79e001d9355eabff40d1.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 376a9a94c350efa7f0164435f5ddf8b14f462832
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-4d798f71607ccefe2906.js
  component---content-drafts-workplace-ally-index-mdx-4d798f71607ccefe2906.js.map
  component---content-drafts-workplace-ally-index-mdx-b09f2232299f6431fd92.js
  component---content-drafts-workplace-ally-index-mdx-b09f2232299f6431fd92.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-5ab38e8b4ff52f8060bd.js
  webpack-runtime-5ab38e8b4ff52f8060bd.js.map
  webpack-runtime-79e001d9355eabff40d1.js
  webpack-runtime-79e001d9355eabff40d1.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

publish: workplace justice ally
  content/articles/workplace-justice-ally/index.mdx
  src/pages/index.mdx
Due: remark -f, prettier --check

deploy: a590bad72ee533b31da264ad43cdd1eca9ed9bb1
  404.html
  404/index.html
  app-3f0ad6d5737b5f377952.js
  app-3f0ad6d5737b5f377952.js.map
  app-d166881ce3ff6a867d91.js
  app-d166881ce3ff6a867d91.js.map
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-workplace-justice-ally-index-mdx-c03f2281087c0dd41e44.js
  component---content-articles-workplace-justice-ally-index-mdx-c03f2281087c0dd41e44.js.map
  component---content-drafts-workplace-ally-index-mdx-b09f2232299f6431fd92.js
  component---content-drafts-workplace-ally-index-mdx-b09f2232299f6431fd92.js.map
  component---src-pages-index-mdx-3cbc9eaf942bb1370b7a.js
  component---src-pages-index-mdx-3cbc9eaf942bb1370b7a.js.map
  component---src-pages-index-mdx-814f620a499f1eda3f3c.js
  component---src-pages-index-mdx-814f620a499f1eda3f3c.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  page-data/articles/workplace-justice-ally/page-data.json
  page-data/drafts/workplace-ally/page-data.json
  webpack-runtime-2cc961a20839ef342605.js
  webpack-runtime-2cc961a20839ef342605.js.map
  webpack-runtime-5ab38e8b4ff52f8060bd.js
  webpack-runtime-5ab38e8b4ff52f8060bd.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: minor tweak to read better
  content/articles/workplace-justice-ally/index.mdx
Due: remark -f, prettier --check

deploy: 2095eb0573d2767995b2ed3faf81cb64cc048c41
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-workplace-justice-ally-index-mdx-c03f2281087c0dd41e44.js
  component---content-articles-workplace-justice-ally-index-mdx-c03f2281087c0dd41e44.js.map
  component---content-articles-workplace-justice-ally-index-mdx-cd723ab19a701ff8f09f.js
  component---content-articles-workplace-justice-ally-index-mdx-cd723ab19a701ff8f09f.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-2cc961a20839ef342605.js
  webpack-runtime-2cc961a20839ef342605.js.map
  webpack-runtime-481ee0e9e8b763717437.js
  webpack-runtime-481ee0e9e8b763717437.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: make it clear that it's people who have to do the work
  content/articles/workplace-justice-ally/index.mdx
Due: remark -f, prettier --check

deploy: 6ed5c378dd40f834e861909cee27c720153b52ad
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-workplace-justice-ally-index-mdx-cd723ab19a701ff8f09f.js
  component---content-articles-workplace-justice-ally-index-mdx-cd723ab19a701ff8f09f.js.map
  component---content-articles-workplace-justice-ally-index-mdx-e69e82305d6eba92c96c.js
  component---content-articles-workplace-justice-ally-index-mdx-e69e82305d6eba92c96c.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-481ee0e9e8b763717437.js
  webpack-runtime-481ee0e9e8b763717437.js.map
  webpack-runtime-72d222370e55eb7065fc.js
  webpack-runtime-72d222370e55eb7065fc.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: you also need to listen!
  content/articles/workplace-justice-ally/index.mdx
Due: remark -f, prettier --check

deploy: 5e3650ed5cd8fc5c7958fe51c20bc7367339f580
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-workplace-justice-ally-index-mdx-6b0570ce670d1c11b035.js
  component---content-articles-workplace-justice-ally-index-mdx-6b0570ce670d1c11b035.js.map
  component---content-articles-workplace-justice-ally-index-mdx-e69e82305d6eba92c96c.js
  component---content-articles-workplace-justice-ally-index-mdx-e69e82305d6eba92c96c.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-4e57c15cde8b5b7cd657.js
  webpack-runtime-4e57c15cde8b5b7cd657.js.map
  webpack-runtime-72d222370e55eb7065fc.js
  webpack-runtime-72d222370e55eb7065fc.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

publish: provide update to pronoun field
  content/articles/workplace-justice-ally/index.mdx
Due: remark -f, prettier --check

deploy: 16a6a892f60fbb4d25c2b65c0ba4a4e2e6ee45a9
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-workplace-justice-ally-index-mdx-0705ecbc28ca0f1a1c8f.js
  component---content-articles-workplace-justice-ally-index-mdx-0705ecbc28ca0f1a1c8f.js.map
  component---content-articles-workplace-justice-ally-index-mdx-6b0570ce670d1c11b035.js
  component---content-articles-workplace-justice-ally-index-mdx-6b0570ce670d1c11b035.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  page-data/articles/workplace-justice-ally/page-data.json
  webpack-runtime-4e57c15cde8b5b7cd657.js
  webpack-runtime-4e57c15cde8b5b7cd657.js.map
  webpack-runtime-5d40434b194442a4b7ca.js
  webpack-runtime-5d40434b194442a4b7ca.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

refactor: no need for article directories when its just the article
  content/articles/remove-unwanted-properties.mdx
  content/articles/workplace-justice-ally.mdx
Due: remark -f, prettier --check

publish: use datalist for autosuggest
  content/articles/datalist-autosuggest/helpers/Pronoun.js
  content/articles/datalist-autosuggest/helpers/Search.js
  content/articles/datalist-autosuggest/index.mdx
  src/pages/index.mdx
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 2204776f48839c82ead6709c3c97e901e730d1e4
  404.html
  404/index.html
  app-cf377efaebd832c6e7d4.js
  app-cf377efaebd832c6e7d4.js.map
  app-ed9bb266b0839ed80e74.js
  app-ed9bb266b0839ed80e74.js.map
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-datalist-autosuggest-index-mdx-685628ec7bcd121b0f37.js
  component---content-articles-datalist-autosuggest-index-mdx-685628ec7bcd121b0f37.js.map
  component---content-articles-datalist-autosuggest-index-mdx-9015a8dd16db0ac8f6f7.js
  component---content-articles-datalist-autosuggest-index-mdx-9015a8dd16db0ac8f6f7.js.map
  component---src-pages-index-mdx-483561d089f320854d9f.js
  component---src-pages-index-mdx-483561d089f320854d9f.js.map
  component---src-pages-index-mdx-e406899277dd765bcbc0.js
  component---src-pages-index-mdx-e406899277dd765bcbc0.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  page-data/articles/datalist-autosuggest/page-data.json
  webpack-runtime-f28528f48da8ce545d1f.js
  webpack-runtime-f28528f48da8ce545d1f.js.map
  webpack-runtime-fe8effd533b7dc98b369.js
  webpack-runtime-fe8effd533b7dc98b369.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: inline components should have <main> wrappers
  content/articles/datalist-autosuggest/helpers/Pronoun.js
  content/articles/datalist-autosuggest/helpers/Search.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: wip subscription
  src/components/Layout.js
  src/pages/confirm.mdx
  src/pages/confirmed.mdx
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 38696de46ae189866b1055b64ce0eba79c8f8477
  404.html
  404/index.html
  app-918e056d8e6370eb4398.js
  app-918e056d8e6370eb4398.js.map
  app-cf377efaebd832c6e7d4.js
  app-cf377efaebd832c6e7d4.js.map
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: rearrange sections and better form layouts
  content/articles/datalist-autosuggest/helpers/Pronoun.js
  content/articles/datalist-autosuggest/helpers/Search.js
  content/articles/datalist-autosuggest/index.mdx
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 662feb793fbca67151e269fe49462968ddeae19a
  404.html
  404/index.html
  app-90ec5933612184d50c3c.js
  app-90ec5933612184d50c3c.js.map
  app-918e056d8e6370eb4398.js
  app-918e056d8e6370eb4398.js.map
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-datalist-autosuggest-index-mdx-34e3f92cbb6dda072fab.js
  component---content-articles-datalist-autosuggest-index-mdx-34e3f92cbb6dda072fab.js.map
  component---content-articles-datalist-autosuggest-index-mdx-9015a8dd16db0ac8f6f7.js
  component---content-articles-datalist-autosuggest-index-mdx-9015a8dd16db0ac8f6f7.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-9f6521ddc953c188292e.js
  webpack-runtime-9f6521ddc953c188292e.js.map
  webpack-runtime-f28528f48da8ce545d1f.js
  webpack-runtime-f28528f48da8ce545d1f.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: no ligature for code blocks
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 064706176c8675b599de91ef4f073e1c5e30eac2
  404.html
  404/index.html
  app-90ec5933612184d50c3c.js
  app-90ec5933612184d50c3c.js.map
  app-932e5267b896ccb738b5.js
  app-932e5267b896ccb738b5.js.map
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: update data list article title and add a11y info
  content/articles/datalist-autosuggest/index.mdx
  src/pages/index.mdx
Due: remark -f, prettier --check

edit: give Weston credit
  content/articles/datalist-autosuggest/index.mdx
Due: remark -f, prettier --check

fix: unset pointer style when button is disabled
  content/articles/datalist-autosuggest/helpers/Search.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: e845189bdcb69f17538bd6f1ba7300d6105dd692
  404.html
  404/index.html
  app-6c26dadd74ea7c682c9c.js
  app-6c26dadd74ea7c682c9c.js.map
  app-ea58514b9afec41ac28a.js
  app-ea58514b9afec41ac28a.js.map
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: add a little animation to the social icons
  src/components/Layout.js
Due: eslint --cache --fix, stylelint --fix, prettier --check
