Repository gsong/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

.lintstagedrc.yaml:

"*.js": eslint --cache --fix
"*.{css,js}": stylelint --fix
"*.{md,mdx}": remark -f
"*": prettier --check

deploy: a52e858872657547836a6725381616de460d116e
  404.html
  404/index.html
  app-16e078ad3d38ba294891.js
  app-16e078ad3d38ba294891.js.map
  app-cae3d95b6dee5eed4df8.js
  app-cae3d95b6dee5eed4df8.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 7c74a7eebac395a58b557dd590c0fc3b6862974c
  404.html
  404/index.html
  app-16e078ad3d38ba294891.js
  app-16e078ad3d38ba294891.js.map
  app-dfbc962fce3ec1ea376b.js
  app-dfbc962fce3ec1ea376b.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

style: tweak homepage header styling
  src/pages/helpers/Home.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 87fba0657194572e37caca0f48a9d683b000c9bd
  404.html
  404/index.html
  app-73dc0f4cd1c632abf502.js
  app-73dc0f4cd1c632abf502.js.map
  app-dfbc962fce3ec1ea376b.js
  app-dfbc962fce3ec1ea376b.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: don't show CodeSandbox for IE11
  package.json
  src/components/CodeSandbox.js
  src/utils.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 6881af7faac6e14683ca07c6fa1545e5c6d368f6
  404.html
  404/index.html
  app-6e09bdb3cf4befd04cea.js
  app-6e09bdb3cf4befd04cea.js.map
  app-73dc0f4cd1c632abf502.js
  app-73dc0f4cd1c632abf502.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-23159ce9ac51564c557b.js
  component---content-articles-remove-unwanted-properties-index-mdx-23159ce9ac51564c557b.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js.map
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js.map
  component---content-articles-to-locale-date-string-index-mdx-d8d4e5bcd493a744597f.js
  component---content-articles-to-locale-date-string-index-mdx-d8d4e5bcd493a744597f.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-9608280e4d2935608eea.js
  webpack-runtime-9608280e4d2935608eea.js.map
  webpack-runtime-cf4697f8318ac1e2002c.js
  webpack-runtime-cf4697f8318ac1e2002c.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: ce15f9c97cde0f31d2c002d2e46bd6c9bd28464b
  404.html
  404/index.html
  app-6e09bdb3cf4befd04cea.js
  app-6e09bdb3cf4befd04cea.js.map
  app-6fa01d06030926002cf0.js
  app-6fa01d06030926002cf0.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-92e1d2670edc57d6c937.js
  component---content-articles-remove-unwanted-properties-index-mdx-92e1d2670edc57d6c937.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js.map
  component---content-articles-to-locale-date-string-index-mdx-1c3a8592c626ea20f5a7.js
  component---content-articles-to-locale-date-string-index-mdx-1c3a8592c626ea20f5a7.js.map
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-7236db9810bf8fa3eea7.js
  webpack-runtime-7236db9810bf8fa3eea7.js.map
  webpack-runtime-9608280e4d2935608eea.js
  webpack-runtime-9608280e4d2935608eea.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 82dec1c9d7a4e084caf1c2c01e63cbfd2a3e91e9
  404.html
  404/index.html
  app-41564bac146b2304cd8d.js
  app-41564bac146b2304cd8d.js.map
  app-6fa01d06030926002cf0.js
  app-6fa01d06030926002cf0.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-92e1d2670edc57d6c937.js
  component---content-articles-remove-unwanted-properties-index-mdx-92e1d2670edc57d6c937.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js.map
  component---content-articles-to-locale-date-string-index-mdx-1c3a8592c626ea20f5a7.js
  component---content-articles-to-locale-date-string-index-mdx-1c3a8592c626ea20f5a7.js.map
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-7236db9810bf8fa3eea7.js
  webpack-runtime-7236db9810bf8fa3eea7.js.map
  webpack-runtime-9608280e4d2935608eea.js
  webpack-runtime-9608280e4d2935608eea.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: add social links to footer
  package.json
  pnpm-lock.yaml
  src/components/Layout.js
  src/components/icons/GitHub.js
  src/components/icons/Instagram.js
  src/components/icons/LinkedIn.js
  src/components/icons/Twitter.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: eb1ec7c1aa8550c9686371413b6fd53bf61248ac
  404.html
  404/index.html
  app-41564bac146b2304cd8d.js
  app-41564bac146b2304cd8d.js.map
  app-46f6a8babbff02b68165.js
  app-46f6a8babbff02b68165.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 257488c4528cacc34c58a69c9a724d6602e37e23
  articles/to-locale-date-string/index.html
Due: prettier --check

deploy: eb1ec7c1aa8550c9686371413b6fd53bf61248ac
  articles/to-locale-date-string/index.html
Due: prettier --check

feat: add line number to code blocks
  gatsby-config.js
  src/components/CodeSandbox.js
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: account for IE11 in CodeSandbox error and code block styling
  src/components/CodeSandbox.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: no need to highlight simple code
  content/articles/to-locale-date-string/index.mdx
Due: remark -f, prettier --check

deploy: e0c5c3c6ca9e2357c89656fb46e7f17fcc0b7fce
  404.html
  404/index.html
  app-46f6a8babbff02b68165.js
  app-46f6a8babbff02b68165.js.map
  app-859b0e4963c605e07dd5.js
  app-859b0e4963c605e07dd5.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-d4d4f15fbb9ebb565455.js
  component---content-articles-remove-unwanted-properties-index-mdx-d4d4f15fbb9ebb565455.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js
  component---content-articles-remove-unwanted-properties-index-mdx-d6c709bbd3f7e2a6b625.js.map
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js
  component---content-articles-to-locale-date-string-index-mdx-840fc9d1c4b40d2d109e.js.map
  component---content-articles-to-locale-date-string-index-mdx-d7c56a27cea1d168b224.js
  component---content-articles-to-locale-date-string-index-mdx-d7c56a27cea1d168b224.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  styles.4f43bc29046fe501af17.css
  styles.85333577aa7dbfd7b7d3.css
  webpack-runtime-8b53205c9fed5a543cdf.js
  webpack-runtime-8b53205c9fed5a543cdf.js.map
  webpack-runtime-9608280e4d2935608eea.js
  webpack-runtime-9608280e4d2935608eea.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: don't automatically load sandboxes
  src/components/CodeSandbox.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 2646feea7cb9d6d7fa7346301f1152fcb0759b19
  404.html
  404/index.html
  app-565d3a30a1b518f19cc5.js
  app-565d3a30a1b518f19cc5.js.map
  app-859b0e4963c605e07dd5.js
  app-859b0e4963c605e07dd5.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

style: add button styling
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 74ed8baedd7f3a106407af1e0aea5c211141fdf6
  404.html
  404/index.html
  app-565d3a30a1b518f19cc5.js
  app-565d3a30a1b518f19cc5.js.map
  app-84058f2712116b246cac.js
  app-84058f2712116b246cac.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: re-detect browser width when loading CodeSanbox iframe
  src/components/CodeSandbox.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: cc8acfa29060376e466d316859aa3c9cc46a2c69
  404.html
  404/index.html
  app-84058f2712116b246cac.js
  app-84058f2712116b246cac.js.map
  app-f6a55dab2016ca2ed639.js
  app-f6a55dab2016ca2ed639.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

refactor: use theme-ui for styling
  content/articles/to-locale-date-string/helpers/components.js
  gatsby-config.js
  package.json
  pnpm-lock.yaml
  src/components/Article.js
  src/components/CodeSandbox.js
  src/components/Layout.js
  src/gatsby-plugin-theme-ui/index.js
  src/pages/helpers/Home.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 9bfae517bddae5bcb1b4cea1306e6e69c509185f
  404.html
  404/index.html
  app-dfced41648aefa04a5fa.js
  app-dfced41648aefa04a5fa.js.map
  app-f6a55dab2016ca2ed639.js
  app-f6a55dab2016ca2ed639.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-3284f3b78d0d61259021.js
  component---content-articles-remove-unwanted-properties-index-mdx-3284f3b78d0d61259021.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-d4d4f15fbb9ebb565455.js
  component---content-articles-remove-unwanted-properties-index-mdx-d4d4f15fbb9ebb565455.js.map
  component---content-articles-to-locale-date-string-index-mdx-0528061826d7569463b7.js
  component---content-articles-to-locale-date-string-index-mdx-0528061826d7569463b7.js.map
  component---content-articles-to-locale-date-string-index-mdx-d7c56a27cea1d168b224.js
  component---content-articles-to-locale-date-string-index-mdx-d7c56a27cea1d168b224.js.map
  component---src-pages-404-mdx-2b2ae0da42a14f550218.js
  component---src-pages-404-mdx-2b2ae0da42a14f550218.js.map
  component---src-pages-404-mdx-d3a090022cf514e65dcc.js
  component---src-pages-404-mdx-d3a090022cf514e65dcc.js.map
  component---src-pages-drafts-colophon-mdx-98263afe9fd400085d0f.js
  component---src-pages-drafts-colophon-mdx-98263afe9fd400085d0f.js.map
  component---src-pages-drafts-colophon-mdx-b0f84dd709873a5cfb93.js
  component---src-pages-drafts-colophon-mdx-b0f84dd709873a5cfb93.js.map
  component---src-pages-index-mdx-1fd84dc3b1941f89b46d.js
  component---src-pages-index-mdx-1fd84dc3b1941f89b46d.js.map
  component---src-pages-index-mdx-3ac6ffd46bebc615661b.js
  component---src-pages-index-mdx-3ac6ffd46bebc615661b.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-7f2fb91a49b3eaf7150f.js
  webpack-runtime-7f2fb91a49b3eaf7150f.js.map
  webpack-runtime-8b53205c9fed5a543cdf.js
  webpack-runtime-8b53205c9fed5a543cdf.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

refactor: use alias tokens in place of color tokens
  gatsby-config.js
  src/components/Article.js
  src/components/CodeSandbox.js
  src/components/Layout.js
  src/gatsby-plugin-theme-ui/index.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 5018ad81ca2b9af3259a3af5117dd7f629df7f1b
  404.html
  404/index.html
  app-984ff2b5edef12b5b790.js
  app-984ff2b5edef12b5b790.js.map
  app-dfced41648aefa04a5fa.js
  app-dfced41648aefa04a5fa.js.map
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-remove-unwanted-properties-index-mdx-106c1ffb638e92a9ee7f.js
  component---content-articles-remove-unwanted-properties-index-mdx-106c1ffb638e92a9ee7f.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-3284f3b78d0d61259021.js
  component---content-articles-remove-unwanted-properties-index-mdx-3284f3b78d0d61259021.js.map
  component---content-articles-to-locale-date-string-index-mdx-0528061826d7569463b7.js
  component---content-articles-to-locale-date-string-index-mdx-0528061826d7569463b7.js.map
  component---content-articles-to-locale-date-string-index-mdx-8a78e5d880d40e78ba06.js
  component---content-articles-to-locale-date-string-index-mdx-8a78e5d880d40e78ba06.js.map
  drafts/colophon/index.html
  index.html
  manifest.webmanifest
  page-data/app-data.json
  webpack-runtime-0fb037ed38f6ee3df383.js
  webpack-runtime-0fb037ed38f6ee3df383.js.map
  webpack-runtime-7f2fb91a49b3eaf7150f.js
  webpack-runtime-7f2fb91a49b3eaf7150f.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat: add component to load Repl
  src/components/CodeSandbox.js
  src/components/Repl.js
  src/components/styles.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: allow embedding of static files in mdx
  .stylelintignore
  gatsby-config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix, prettier --check

draft: reducer patterns
  content/drafts/reducer-patterns/dispatch-flow.mmd
  content/drafts/reducer-patterns/dispatch-flow.svg
  content/drafts/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

build: disable eslint rule for mdx files
  .eslintrc.yml
Due: prettier --check

draft: split article into two parts
  content/drafts/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

draft: useReducer
  content/drafts/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

publish: reducer patterns part 1
  content/articles/reducer-patterns/dispatch-flow.mmd
  content/articles/reducer-patterns/dispatch-flow.svg
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/setState-flow.mmd
  content/articles/reducer-patterns/setState-flow.svg
  src/pages/index.mdx
Due: remark -f, prettier --check

deploy: d781a1c7f51d5ce3cbabfce70e2baea10fcb6e45
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---src-pages-index-mdx-7a286d4aa37674bdca0b.js
  component---src-pages-index-mdx-7a286d4aa37674bdca0b.js.map
  component---src-pages-index-mdx-bccf67144261467a1df5.js
  component---src-pages-index-mdx-bccf67144261467a1df5.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-3a62c2d0cabad44602ea.js
  webpack-runtime-3a62c2d0cabad44602ea.js.map
  webpack-runtime-9c5228483a54c0bce547.js
  webpack-runtime-9c5228483a54c0bce547.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check
