Repository gsong/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

.lintstagedrc.yaml:

"*.js": eslint --cache --fix
"*.{css,js}": stylelint --fix
"*.{md,mdx}": remark -f
"*": prettier --check

build: upgrade JS dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat: honor reduced motion directive
  src/components/Layout.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 2e80613a7a643db9b3592f3b3d5febdf03622b71
  404.html
  404/index.html
  app-075ec943b1120ae089d8.js
  app-075ec943b1120ae089d8.js.LICENSE.txt
  app-075ec943b1120ae089d8.js.map
  app-5840f30fe83e24e7be22.js
  app-5840f30fe83e24e7be22.js.map
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-3-mdx-a40f3e8adf42741379ff.js
  component---content-articles-reducer-patterns-part-3-mdx-a40f3e8adf42741379ff.js.map
  component---content-articles-reducer-patterns-part-3-mdx-c6ca4ec7adcdf735190b.js
  component---content-articles-reducer-patterns-part-3-mdx-c6ca4ec7adcdf735190b.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-12ab12e0337e1f761cbf.js
  webpack-runtime-12ab12e0337e1f761cbf.js.map
  webpack-runtime-af6aa026e65b6c79c543.js
  webpack-runtime-af6aa026e65b6c79c543.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

ci: update GitHub CI directives
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: prettier --check

fix: tighten up headline spacing
  src/pages/helpers/Home.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

refactor: remove link-hover class
  src/components/Article.js
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: use random-words for example, since free API stopped working
  content/articles/datalist-autosuggest/helpers/Search.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: fix unnecessary function creation
  content/articles/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

edit: fix form label and variable name
  content/articles/reducer-patterns/part-2.mdx
Due: remark -f, prettier --check

deploy: 421ba53c460e7227f3124b613b74b973fab28353
  404.html
  404/index.html
  articles/datalist-autosuggest/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  articles/workplace-justice-ally/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-2-mdx-256833b466444f793b1c.js
  component---content-articles-reducer-patterns-part-2-mdx-256833b466444f793b1c.js.map
  component---content-articles-reducer-patterns-part-2-mdx-b45eb202d20dc6e251bc.js
  component---content-articles-reducer-patterns-part-2-mdx-b45eb202d20dc6e251bc.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  page-data/articles/reducer-patterns/part-2/page-data.json
  webpack-runtime-0457dcaa52d484ec1df0.js
  webpack-runtime-0457dcaa52d484ec1df0.js.map
  webpack-runtime-11897c9f6e052200f658.js
  webpack-runtime-11897c9f6e052200f658.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check
