Repository gsong/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

.lintstagedrc.yaml:

"*.js": eslint --cache --fix
"*.{css,js}": stylelint --fix
"*.{md,mdx}": remark -f
"*": prettier --check

deploy: 8e040ecba5e645048d51133cdf2b59ac5fe21022
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-2-mdx-060536a6e1dae0b5b319.js
  component---content-articles-reducer-patterns-part-2-mdx-060536a6e1dae0b5b319.js.map
  component---content-articles-reducer-patterns-part-2-mdx-6f929dfd955acd990937.js
  component---content-articles-reducer-patterns-part-2-mdx-6f929dfd955acd990937.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-4956986aa17965058f59.js
  webpack-runtime-4956986aa17965058f59.js.map
  webpack-runtime-8b35e4611e2bc497ad3a.js
  webpack-runtime-8b35e4611e2bc497ad3a.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: add TOC to long articles
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/part-2.mdx
  gatsby-config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 9c9886ea280389516c412a191869f3f21b125b31
  404.html
  404/index.html
  app-7ddd3dff62497699a0b5.js
  app-7ddd3dff62497699a0b5.js.map
  app-e4f201711bf1f950acd3.js
  app-e4f201711bf1f950acd3.js.map
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-5723d6fd80d8b212bd73.js
  component---content-articles-reducer-patterns-part-1-mdx-5723d6fd80d8b212bd73.js.map
  component---content-articles-reducer-patterns-part-1-mdx-9b2ee20e8316321ff1c7.js
  component---content-articles-reducer-patterns-part-1-mdx-9b2ee20e8316321ff1c7.js.map
  component---content-articles-reducer-patterns-part-2-mdx-060536a6e1dae0b5b319.js
  component---content-articles-reducer-patterns-part-2-mdx-060536a6e1dae0b5b319.js.map
  component---content-articles-reducer-patterns-part-2-mdx-fcbb681e17c708f5a1a8.js
  component---content-articles-reducer-patterns-part-2-mdx-fcbb681e17c708f5a1a8.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-4956986aa17965058f59.js
  webpack-runtime-4956986aa17965058f59.js.map
  webpack-runtime-58b57f87a9a9e2021a6e.js
  webpack-runtime-58b57f87a9a9e2021a6e.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: aria-label links correctly
  src/components/Layout.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: d236dc4469e7994521e3d9f2a6fdcdd930f6db77
  404.html
  404/index.html
  app-7b6888f842f66e513ce0.js
  app-7b6888f842f66e513ce0.js.map
  app-7ddd3dff62497699a0b5.js
  app-7ddd3dff62497699a0b5.js.map
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: allow for article update date
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/part-2.mdx
  content/articles/remove-unwanted-properties/index.mdx
  content/articles/to-locale-date-string/index.mdx
  gatsby-config.js
  gatsby-node.js
  src/components/Article.js
  src/components/SEO.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: 6288d5d32ffecc5e704c640a4334703f95d7bd4d
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-60cab3ac781677c799a3.js
  component---content-articles-reducer-patterns-part-1-mdx-60cab3ac781677c799a3.js.map
  component---content-articles-reducer-patterns-part-1-mdx-dcef8fdad92143f6795a.js
  component---content-articles-reducer-patterns-part-1-mdx-dcef8fdad92143f6795a.js.map
  component---content-articles-reducer-patterns-part-2-mdx-e14e1c86268bfe6f21ed.js
  component---content-articles-reducer-patterns-part-2-mdx-e14e1c86268bfe6f21ed.js.map
  component---content-articles-reducer-patterns-part-2-mdx-e6854e6fb8023c118b99.js
  component---content-articles-reducer-patterns-part-2-mdx-e6854e6fb8023c118b99.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-6ad34a649f17495c98d6.js
  component---content-articles-remove-unwanted-properties-index-mdx-6ad34a649f17495c98d6.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-ef5480cb222a3c514c11.js
  component---content-articles-remove-unwanted-properties-index-mdx-ef5480cb222a3c514c11.js.map
  component---content-articles-to-locale-date-string-index-mdx-9f0715d15be1cafc5bf8.js
  component---content-articles-to-locale-date-string-index-mdx-9f0715d15be1cafc5bf8.js.map
  component---content-articles-to-locale-date-string-index-mdx-cbdc684e9aef4fabf6aa.js
  component---content-articles-to-locale-date-string-index-mdx-cbdc684e9aef4fabf6aa.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-4cb1a2663aedcd4dc202.js
  webpack-runtime-4cb1a2663aedcd4dc202.js.map
  webpack-runtime-8932da89dcbcefe6b332.js
  webpack-runtime-8932da89dcbcefe6b332.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: history link for articles
  gatsby-node.js
  src/components/Article.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 8cebfe20b02e8b92a767bf259ee996247ad6c955
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-dcef8fdad92143f6795a.js
  component---content-articles-reducer-patterns-part-1-mdx-dcef8fdad92143f6795a.js.map
  component---content-articles-reducer-patterns-part-1-mdx-df8f11ff7d85ef88a748.js
  component---content-articles-reducer-patterns-part-1-mdx-df8f11ff7d85ef88a748.js.map
  component---content-articles-reducer-patterns-part-2-mdx-e42695e7cbc4a303387f.js
  component---content-articles-reducer-patterns-part-2-mdx-e42695e7cbc4a303387f.js.map
  component---content-articles-reducer-patterns-part-2-mdx-e6854e6fb8023c118b99.js
  component---content-articles-reducer-patterns-part-2-mdx-e6854e6fb8023c118b99.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-0f7aecc4ca26fdd72e5e.js
  component---content-articles-remove-unwanted-properties-index-mdx-0f7aecc4ca26fdd72e5e.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-6ad34a649f17495c98d6.js
  component---content-articles-remove-unwanted-properties-index-mdx-6ad34a649f17495c98d6.js.map
  component---content-articles-to-locale-date-string-index-mdx-0a8f916edfb82a7451a7.js
  component---content-articles-to-locale-date-string-index-mdx-0a8f916edfb82a7451a7.js.map
  component---content-articles-to-locale-date-string-index-mdx-cbdc684e9aef4fabf6aa.js
  component---content-articles-to-locale-date-string-index-mdx-cbdc684e9aef4fabf6aa.js.map
  drafts/colophon/index.html
  index.html
  page-data/404.html/page-data.json
  page-data/404/page-data.json
  page-data/app-data.json
  page-data/articles/reducer-patterns/part-1/page-data.json
  page-data/articles/reducer-patterns/part-2/page-data.json
  page-data/articles/remove-unwanted-properties/page-data.json
  page-data/articles/to-locale-date-string/page-data.json
  page-data/drafts/colophon/page-data.json
  page-data/index/page-data.json
  webpack-runtime-4cb1a2663aedcd4dc202.js
  webpack-runtime-4cb1a2663aedcd4dc202.js.map
  webpack-runtime-854119663eabb1aaac71.js
  webpack-runtime-854119663eabb1aaac71.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

deploy: ee1ae5da1ad94ac2ea69e82e8982074fd35d65be
  404.html
  404/index.html
  app-023b92911d15c4e62706.js
  app-023b92911d15c4e62706.js.map
  app-83df2ad2c61d7eb489c0.js
  app-83df2ad2c61d7eb489c0.js.map
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: change how edited date is displayed
  src/components/Article.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: add takeaways
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/part-2.mdx
Due: remark -f, prettier --check

edit: embed SVG diagrams
  content/articles/reducer-patterns/DispatchFlow.js
  content/articles/reducer-patterns/SetStateFlow.js
  content/articles/reducer-patterns/dispatch-flow.svg
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/part-2.mdx
  content/articles/reducer-patterns/setState-flow.svg
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

fix: simplify code example headers
  src/components/CodeSandbox.js
  src/components/Repl.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 32cca6caf80fbe84e93967d451105b43f38721a3
  404.html
  404/index.html
  app-08268411c21b843b5a83.js
  app-08268411c21b843b5a83.js.map
  app-a0102571389bcebf2c65.js
  app-a0102571389bcebf2c65.js.map
  articles/reducer-patterns/DispatchFlow/index.html
  articles/reducer-patterns/SetStateFlow/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: add Google analytics
  gatsby-config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 1839e90d98c54a05a96dd15944827953759a8c6d
  404.html
  404/index.html
  app-08268411c21b843b5a83.js
  app-08268411c21b843b5a83.js.map
  app-2af9772264d011cf8222.js
  app-2af9772264d011cf8222.js.map
  articles/reducer-patterns/DispatchFlow/index.html
  articles/reducer-patterns/SetStateFlow/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 22cf07e3d20b42080b9f04570dd15910c1445352
  404.html
  404/index.html
  app-2af9772264d011cf8222.js
  app-2af9772264d011cf8222.js.map
  app-2b6fdc266dd6372cfcdf.js
  app-2b6fdc266dd6372cfcdf.js.map
  articles/reducer-patterns/DispatchFlow/index.html
  articles/reducer-patterns/SetStateFlow/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 3620d0c358f3e6c529d97c52ce5ca82713985a03
  404.html
  404/index.html
  app-2b6fdc266dd6372cfcdf.js
  app-2b6fdc266dd6372cfcdf.js.map
  app-ac89403013b5dd8d5e9d.js
  app-ac89403013b5dd8d5e9d.js.map
  articles/reducer-patterns/DispatchFlow/index.html
  articles/reducer-patterns/SetStateFlow/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: add email as a contact option
  src/components/Layout.js
  src/components/icons/Email.js
  src/components/icons/index.js
  src/components/icons/src/envelope-open-text-regular.svg
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: c596340b3ed5b0356da8e8d03b03727d313bb8c7
  404.html
  404/index.html
  app-388ab876556d7a036129.js
  app-388ab876556d7a036129.js.map
  app-ac89403013b5dd8d5e9d.js
  app-ac89403013b5dd8d5e9d.js.map
  articles/reducer-patterns/DispatchFlow/index.html
  articles/reducer-patterns/SetStateFlow/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: adjust social icon heights
  src/components/icons/GitHub.js
  src/components/icons/Instagram.js
  src/components/icons/LinkedIn.js
  src/components/icons/Rss.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: e8ff179e7eb5f0699e9d307ac818d37d80cae6e4
  404.html
  404/index.html
  app-388ab876556d7a036129.js
  app-388ab876556d7a036129.js.map
  app-923156beace70829c3a1.js
  app-923156beace70829c3a1.js.map
  articles/reducer-patterns/DispatchFlow/index.html
  articles/reducer-patterns/SetStateFlow/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: update footer styling
  src/components/Layout.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: add links to entire series
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/part-2.mdx
  src/pages/index.mdx
Due: remark -f, prettier --check

publish: reducer patterns part 3
  content/articles/reducer-patterns/FormStateChart.js
  content/articles/reducer-patterns/form-state-chart.mmd
  content/articles/reducer-patterns/part-3.mdx
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

edit: switch back to using SVGs as img
  content/articles/reducer-patterns/DispatchFlow.js
  content/articles/reducer-patterns/FormStateChart.js
  content/articles/reducer-patterns/SetStateFlow.js
  content/articles/reducer-patterns/dispatch-flow.svg
  content/articles/reducer-patterns/form-state-chart.svg
  content/articles/reducer-patterns/part-1.mdx
  content/articles/reducer-patterns/part-2.mdx
  content/articles/reducer-patterns/part-3.mdx
  content/articles/reducer-patterns/setState-flow.svg
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

fix: standardize header and footer margins
  src/components/Layout.js
  src/pages/helpers/Home.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 289470f5f9f55190f9c3798492fa315dfee9852b
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-58b5444d9f288d51b405.js
  component---content-drafts-workplace-ally-index-mdx-58b5444d9f288d51b405.js.map
  component---content-drafts-workplace-ally-index-mdx-7930e6a3f9962488c455.js
  component---content-drafts-workplace-ally-index-mdx-7930e6a3f9962488c455.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-8c9a0032c3b120ecbd5c.js
  webpack-runtime-8c9a0032c3b120ecbd5c.js.map
  webpack-runtime-9d4277c19e834fe59a65.js
  webpack-runtime-9d4277c19e834fe59a65.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: d282370e9a7678f53ee30f296baf1b41f0f34068
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/reducer-patterns/part-3/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-drafts-workplace-ally-index-mdx-7930e6a3f9962488c455.js
  component---content-drafts-workplace-ally-index-mdx-7930e6a3f9962488c455.js.map
  component---content-drafts-workplace-ally-index-mdx-b845dee21485ca80ed56.js
  component---content-drafts-workplace-ally-index-mdx-b845dee21485ca80ed56.js.map
  drafts/colophon/index.html
  drafts/workplace-ally/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-8788109bb5547591b98e.js
  webpack-runtime-8788109bb5547591b98e.js.map
  webpack-runtime-9d4277c19e834fe59a65.js
  webpack-runtime-9d4277c19e834fe59a65.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check
