Repository gsong/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

.lintstagedrc.yaml:

"*.js": eslint --cache --fix
"*.{css,js}": stylelint --fix
"*.{md,mdx}": remark -f
"*": prettier --check

feat: add header to Repl, allow CodeSandbox to not display header
  src/components/CodeSandbox.js
  src/components/Repl.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: add Repl for JS object property article
  content/articles/reducer-patterns/part-1.mdx
  content/articles/remove-unwanted-properties/index.mdx
Due: remark -f, prettier --check

deploy: b64df8058517bd108edfd1d91879094f743b499a
  404.html
  404/index.html
  app-73b5ca5957cc0a50253a.js
  app-73b5ca5957cc0a50253a.js.map
  app-be2542a644a3d83ca8b1.js
  app-be2542a644a3d83ca8b1.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-bbe1aaf5f8fb11afe32c.js
  component---content-articles-reducer-patterns-part-1-mdx-bbe1aaf5f8fb11afe32c.js.map
  component---content-articles-reducer-patterns-part-1-mdx-d3f62c09cbc5b4a73718.js
  component---content-articles-reducer-patterns-part-1-mdx-d3f62c09cbc5b4a73718.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-762e5ea0c493f164514d.js
  component---content-articles-remove-unwanted-properties-index-mdx-762e5ea0c493f164514d.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-9a4e2320e16c7cb90ba5.js
  component---content-articles-remove-unwanted-properties-index-mdx-9a4e2320e16c7cb90ba5.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-9c5228483a54c0bce547.js
  webpack-runtime-9c5228483a54c0bce547.js.map
  webpack-runtime-a3558fd674c79fada507.js
  webpack-runtime-a3558fd674c79fada507.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: highlight state reads in article
  content/articles/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

deploy: 654ff9e33ce42291b106e05bd5819f5d62010ae7
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-39f6c95ccb8ea8367580.js
  component---content-articles-reducer-patterns-part-1-mdx-39f6c95ccb8ea8367580.js.map
  component---content-articles-reducer-patterns-part-1-mdx-bbe1aaf5f8fb11afe32c.js
  component---content-articles-reducer-patterns-part-1-mdx-bbe1aaf5f8fb11afe32c.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-6b48df7d2b4614d91c22.js
  webpack-runtime-6b48df7d2b4614d91c22.js.map
  webpack-runtime-a3558fd674c79fada507.js
  webpack-runtime-a3558fd674c79fada507.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat: generate rss feed for articles
  gatsby-config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: a9ec3dc94f07f02f8fa113c9fb56525abcfd655e
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  drafts/colophon/index.html
  index.html
Due: prettier --check

feat: add rss link to footer
  src/components/Layout.js
  src/components/icons/Rss.js
  src/components/icons/src/github-brands.svg
  src/components/icons/src/instagram-brands.svg
  src/components/icons/src/linkedin-brands.svg
  src/components/icons/src/rss-solid.svg
  src/components/icons/src/twitter-brands.svg
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 702646d52ecb7e6706cf2d0fa1a820170a62b013
  404.html
  404/index.html
  app-3326ffc3e5dcd3aec77c.js
  app-3326ffc3e5dcd3aec77c.js.map
  app-8472620adb92d9f2a11c.js
  app-8472620adb92d9f2a11c.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: one team member moved to the back-end
  src/pages/index.mdx
Due: remark -f, prettier --check

deploy: 06097f40da2c4e226368866ec49e5551b84e9301
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---src-pages-index-mdx-1b5ef4778e0e1fbf2309.js
  component---src-pages-index-mdx-1b5ef4778e0e1fbf2309.js.map
  component---src-pages-index-mdx-db557080a717da5cd267.js
  component---src-pages-index-mdx-db557080a717da5cd267.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-ce3645d0a95b08614fba.js
  webpack-runtime-ce3645d0a95b08614fba.js.map
  webpack-runtime-d54f70d215ba55e20fd2.js
  webpack-runtime-d54f70d215ba55e20fd2.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

refactor: tidier CSS
  src/pages/helpers/Home.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 9a0a3619af2b8aaf304fc8f2835da66324aeb3a6
  404.html
  404/index.html
  app-3326ffc3e5dcd3aec77c.js
  app-3326ffc3e5dcd3aec77c.js.map
  app-74439c584ee8b35773ca.js
  app-74439c584ee8b35773ca.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: article dates link to commit history for article
  gatsby-node.js
  src/components/Article.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 90f755b2431789b7dc83e413cbaba67970de2bb8
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-95c2fa6d14191d8d9e31.js
  component---content-articles-reducer-patterns-part-1-mdx-95c2fa6d14191d8d9e31.js.map
  component---content-articles-reducer-patterns-part-1-mdx-9c7949427d552c49046c.js
  component---content-articles-reducer-patterns-part-1-mdx-9c7949427d552c49046c.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-440bcdcde50c354d587e.js
  component---content-articles-remove-unwanted-properties-index-mdx-440bcdcde50c354d587e.js.map
  component---content-articles-remove-unwanted-properties-index-mdx-f0da56888a948d7d4df8.js
  component---content-articles-remove-unwanted-properties-index-mdx-f0da56888a948d7d4df8.js.map
  component---content-articles-to-locale-date-string-index-mdx-0d3b6b5e62b23ce1c76a.js
  component---content-articles-to-locale-date-string-index-mdx-0d3b6b5e62b23ce1c76a.js.map
  component---content-articles-to-locale-date-string-index-mdx-f984f46a4c98be3c5d9e.js
  component---content-articles-to-locale-date-string-index-mdx-f984f46a4c98be3c5d9e.js.map
  drafts/colophon/index.html
  index.html
  page-data/404.html/page-data.json
  page-data/404/page-data.json
  page-data/app-data.json
  page-data/articles/reducer-patterns/part-1/page-data.json
  page-data/articles/remove-unwanted-properties/page-data.json
  page-data/articles/to-locale-date-string/page-data.json
  page-data/drafts/colophon/page-data.json
  page-data/index/page-data.json
  webpack-runtime-d34f43e3712918753bb3.js
  webpack-runtime-d34f43e3712918753bb3.js.map
  webpack-runtime-d54f70d215ba55e20fd2.js
  webpack-runtime-d54f70d215ba55e20fd2.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

style: code shuffle
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 1578eee66773edec8792f993cf14b6d091429e6a
  404.html
  404/index.html
  app-74439c584ee8b35773ca.js
  app-74439c584ee8b35773ca.js.map
  app-f4ed34f98f6f7e0865f4.js
  app-f4ed34f98f6f7e0865f4.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: correct header level
  content/articles/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

deploy: f670a57fa3528f728c28f5b6f07959874dda7573
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---content-articles-reducer-patterns-part-1-mdx-619903da9e0c86229bb8.js
  component---content-articles-reducer-patterns-part-1-mdx-619903da9e0c86229bb8.js.map
  component---content-articles-reducer-patterns-part-1-mdx-95c2fa6d14191d8d9e31.js
  component---content-articles-reducer-patterns-part-1-mdx-95c2fa6d14191d8d9e31.js.map
  component---src-pages-index-mdx-1b5ef4778e0e1fbf2309.js
  component---src-pages-index-mdx-1b5ef4778e0e1fbf2309.js.map
  component---src-pages-index-mdx-1cdc22d6b0ee6c9c7988.js
  component---src-pages-index-mdx-1cdc22d6b0ee6c9c7988.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-b0be292a60f0721cbfdc.js
  webpack-runtime-b0be292a60f0721cbfdc.js.map
  webpack-runtime-d34f43e3712918753bb3.js
  webpack-runtime-d34f43e3712918753bb3.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: adjust homepage intro and add OSS projects
  src/pages/helpers/Home.js
  src/pages/index.mdx
Due: eslint --cache --fix, stylelint --fix, remark -f, prettier --check

deploy: b2d6d2e13dab36946fc410354a0daabad6d648c6
  404.html
  404/index.html
  app-51f4d5c2d146963e24fb.js
  app-51f4d5c2d146963e24fb.js.map
  app-f4ed34f98f6f7e0865f4.js
  app-f4ed34f98f6f7e0865f4.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---src-pages-index-mdx-1cdc22d6b0ee6c9c7988.js
  component---src-pages-index-mdx-1cdc22d6b0ee6c9c7988.js.map
  component---src-pages-index-mdx-e1b147a5204dc6a9ab04.js
  component---src-pages-index-mdx-e1b147a5204dc6a9ab04.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-4e668c57874d9b3ec5c7.js
  webpack-runtime-4e668c57874d9b3ec5c7.js.map
  webpack-runtime-b0be292a60f0721cbfdc.js
  webpack-runtime-b0be292a60f0721cbfdc.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: add header link to more easily jump to sections
  gatsby-config.js
  package.json
  pnpm-lock.yaml
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: link copyright to home
  src/components/Article.js
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: no need to constrain banner max width
  src/pages/helpers/Home.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 2f2d3542d55dc9ec15acf16fe25cf9374ea53b1f
  404.html
  404/index.html
  app-9e6e185fce2cf8a10b78.js
  app-9e6e185fce2cf8a10b78.js.map
  app-ebd7e77460eda082d00c.js
  app-ebd7e77460eda082d00c.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

fix: better link spacing for a11y
  src/components/Layout.js
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 5b3c95282a058f87bfd74419c01b46add22e6a7b
  404.html
  404/index.html
  app-9d5da57d0420cf4154bb.js
  app-9d5da57d0420cf4154bb.js.map
  app-9e6e185fce2cf8a10b78.js
  app-9e6e185fce2cf8a10b78.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: update part 1 description
  content/articles/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

deploy: 5afa8d078fe5aa1479bc9eb722db052ba48e934b
  404.html
  404/index.html
  app-171bc8308fa023ac17cf.js
  app-171bc8308fa023ac17cf.js.map
  app-9d5da57d0420cf4154bb.js
  app-9d5da57d0420cf4154bb.js.map
  articles/reducer-patterns/part-1/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  page-data/articles/reducer-patterns/part-1/page-data.json
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

feat: strip header code block formatting
  src/styles/index.js
Due: eslint --cache --fix, stylelint --fix, prettier --check

deploy: 09d14c1f9cb154e48a26dc3f025c7434c157a96e
  404.html
  404/index.html
  articles/reducer-patterns/part-1/index.html
  articles/reducer-patterns/part-2/index.html
  articles/remove-unwanted-properties/index.html
  articles/rss.xml
  articles/to-locale-date-string/index.html
  chunk-map.json
  component---src-pages-index-mdx-a43120b52feb7745e9b1.js
  component---src-pages-index-mdx-a43120b52feb7745e9b1.js.map
  component---src-pages-index-mdx-aa5a6786246712a08999.js
  component---src-pages-index-mdx-aa5a6786246712a08999.js.map
  drafts/colophon/index.html
  index.html
  page-data/app-data.json
  webpack-runtime-8b35e4611e2bc497ad3a.js
  webpack-runtime-8b35e4611e2bc497ad3a.js.map
  webpack-runtime-fdd01bfc1a9bb771e15f.js
  webpack-runtime-fdd01bfc1a9bb771e15f.js.map
  webpack.stats.json
Due: eslint --cache --fix, stylelint --fix, prettier --check

edit: add link to part 2 in part 1
  content/articles/reducer-patterns/part-1.mdx
Due: remark -f, prettier --check

publish: reducer patterns part 2
  content/articles/reducer-patterns/part-2.mdx
Due: remark -f, prettier --check

build: upgrade dependencies
  pnpm-lock.yaml
Due: prettier --check

edit: link to reducers part 2 on homepage
  src/pages/index.mdx
Due: remark -f, prettier --check
